<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><i><%= @jewel_presenter.html_quote %> </i></p>
    <br>
    <p><%= @jewel_presenter.comment %> </p>
  </body>
</html>
