<div class="small-11 small-centered columns">
  <h2 align="center">Welcome to the TripleWorld</h2>

  <div class="panel">
    <p><i><%= @jewel_presenter.html_quote %></i></p>
  </div>

  <div class="panel">
    <p><%= @jewel_presenter.comment %></p>
  </div>
</div>
