<h2 align="center">Support for the TripleWorld</h2>

 <p align="center">
 Financial support for this site comes from the Lexington Nichiren Buddhist Community and a grant from Heroku. 
</p>
 <p align="center">
 It was built using Rails and is secured with SSH. No personal information of anyone registered on the site, including email addresses, is given away or sold.
</p>
