body {
  color: #333333;
  margin: 0;
  padding: 0;
}

.center
{
  text-align: center;
}

.horizontal-list li
{
  display: inline;
  list-style-type: none;
  padding-right: 20px;
}

.clear
{
  clear: both;
}
