<% unless flash[:notice].blank? %>
  <div data-alert class="alert-box">
    <p class="notice"><%= notice %></p>
  </div>
<% end %>
<% unless flash[:alert].blank? %>
  <div data-alert class="alert-box warning">
    <p class="alert"><%= alert %></p>
  </div>
<% end %>
